<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/master-093a7bd8d3.css">
    <link rel="stylesheet" href="../public/css/font_756265_p12596hijxc/iconfont-e514995a58.css">
    <title>Document</title>
</head>
<body>
<div>
    <header class="choose-header">
        选择城市
        <i class="iconfont icon-close"></i>
    </header>
    <ul class="choosecity">
        <li class="zhanwei"></li>
        <li class="choosecity-title" id="dangqian-position">当前</li>
            <li class="cityname">未选择城市...(右侧导航可以跳到相应位置)</li>
        <li class="choosecity-title" id="gps-position">GPS</li>
            <li class="cityname">用户拒绝浏览器位置服务</li>
        <li class="choosecity-title" id="remen-position">热门</li>
            <li class="cityname">北京</li>
            <li class="cityname">上海</li>
            <li class="cityname">深圳</li>
            <li class="cityname">广东</li>
            <li class="cityname">成都</li>
            <li class="cityname">武汉</li>
            <li class="cityname">杭州</li>
            <li class="cityname">重庆</li>
        <li class="choosecity-title" id="a-position">A</li>
            <li class="cityname">鞍山</li>
            <li class="cityname">鞍山</li>
            <li class="cityname">鞍山</li>
            <li class="cityname">鞍山</li>
            <li class="cityname">鞍山</li>
            <li class="cityname">鞍山</li>
            <li class="cityname">鞍山</li>
        <li class="choosecity-title" id="b-position">B</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
            <li class="cityname">北京</li>
        <li class="choosecity-title" id="c-position">C</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
            <li class="cityname">长沙</li>
        <li class="choosecity-title" id="d-position">D</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
            <li class="cityname">大理</li>
        <li class="choosecity-title" id="e-position">E</li>
            <li class="cityname">鄂尔多斯</li>
            <li class="cityname">鄂尔多斯</li>
            <li class="cityname">鄂尔多斯</li>
        <li class="choosecity-title" id="f-position">F</li>
            <li class="cityname">福州</li>
            <li class="cityname">福州</li>
            <li class="cityname">福州</li>
            <li class="cityname">福州</li>
        <li class="choosecity-title" id="g-position">G</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
            <li class="cityname">广州</li>
        <li class="choosecity-title" id="h-position">H</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
            <li class="cityname">哈尔滨</li>
        <li class="choosecity-title" id="j-position">J</li>
            <li class="cityname">佳木斯</li>
            <li class="cityname">佳木斯</li>
            <li class="cityname">佳木斯</li>
            <li class="cityname">佳木斯</li>
            <li class="cityname">佳木斯</li>
            <li class="cityname">佳木斯</li>
            <li class="cityname">佳木斯</li>
            <li class="cityname">佳木斯</li>
        <li class="choosecity-title" id="k-position">K</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
            <li class="cityname">开封</li>
        <li class="choosecity-title" id="l-position">L</li>
            <li class="cityname">拉萨</li>
            <li class="cityname">拉萨</li>
            <li class="cityname">拉萨</li>
            <li class="cityname">拉萨</li>
            <li class="cityname">拉萨</li>
            <li class="cityname">拉萨</li>
            <li class="cityname">拉萨</li>
        <li class="choosecity-title" id="m-position">M</li>
            <li class="cityname">牡丹江</li>
            <li class="cityname">牡丹江</li>
            <li class="cityname">牡丹江</li>
            <li class="cityname">牡丹江</li>
            <li class="cityname">牡丹江</li>
            <li class="cityname">牡丹江</li>
        <li class="choosecity-title" id="n-position">N</li>
            <li class="cityname">南昌</li>
            <li class="cityname">南昌</li>
            <li class="cityname">南昌</li>
            <li class="cityname">南昌</li>
            <li class="cityname">南昌</li>
            <li class="cityname">南昌</li>
        <li class="choosecity-title" id="p-position">P</li>
            <li class="cityname">攀枝花</li>
            <li class="cityname">攀枝花</li>
            <li class="cityname">攀枝花</li>
            <li class="cityname">攀枝花</li>
        <li class="choosecity-title" id="q-position">Q</li>
            <li class="cityname">青岛</li>
            <li class="cityname">青岛</li>
            <li class="cityname">青岛</li>
            <li class="cityname">青岛</li>
            <li class="cityname">青岛</li>
            <li class="cityname">青岛</li>
        <li class="choosecity-title" id="r-position">R</li>
            <li class="cityname">日照</li>
        <li class="choosecity-title" id="s-position">S</li>
            <li class="cityname">上海</li>
            <li class="cityname">上海</li>
            <li class="cityname">上海</li>
            <li class="cityname">上海</li>
            <li class="cityname">上海</li>
        <li class="choosecity-title" id="t-position">T</li>
            <li class="cityname">泰安</li>
            <li class="cityname">泰安</li>
            <li class="cityname">泰安</li>
            <li class="cityname">泰安</li>
            <li class="cityname">泰安</li>
        <li class="choosecity-title" id="w-position">W</li>
            <li class="cityname">武汉</li>
            <li class="cityname">武汉</li>
            <li class="cityname">武汉</li>
            <li class="cityname">武汉</li>
            <li class="cityname">武汉</li>
            <li class="cityname">武汉</li>
            <li class="cityname">武汉</li>
        <li class="choosecity-title" id="x-position">X</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
            <li class="cityname">厦门</li>
        <li class="choosecity-title" id="y-position">Y</li>
            <li class="cityname">延边</li>
            <li class="cityname">延边</li>
            <li class="cityname">延边</li>
            <li class="cityname">延边</li>
            <li class="cityname">延边</li>
            <li class="cityname">延边</li>
        <li class="choosecity-title" id="z-position">Z</li>
            <li class="cityname">珠海</li>
            <li class="cityname">珠海</li>
            <li class="cityname">珠海</li>
            <li class="cityname">珠海</li>
            <li class="cityname">珠海</li>
            <li class="cityname">珠海</li>
            <li class="cityname">珠海</li>
    </ul>
    <ul class="choosecity-nav">
        <li class="choosecity-nav-item" id="dangqian">当前</li>
        <li class="choosecity-nav-item" id="gps">GPS</li>
        <li class="choosecity-nav-item" id="remen">热门</li>
        <li class="choosecity-nav-item" id="a">A</li>
        <li class="choosecity-nav-item" id="b">B</li>
        <li class="choosecity-nav-item" id="c">C</li>
        <li class="choosecity-nav-item" id="d">D</li>
        <li class="choosecity-nav-item" id="e">E</li>
        <li class="choosecity-nav-item" id="f">F</li>
        <li class="choosecity-nav-item" id="g">G</li>
        <li class="choosecity-nav-item" id="h">H</li>
        <li class="choosecity-nav-item" id="j">J</li>
        <li class="choosecity-nav-item" id="k">K</li>
        <li class="choosecity-nav-item" id="l">L</li>
        <li class="choosecity-nav-item" id="m">M</li>
        <li class="choosecity-nav-item" id="n">N</li>
        <li class="choosecity-nav-item" id="p">P</li>
        <li class="choosecity-nav-item" id="q">Q</li>
        <li class="choosecity-nav-item" id="r">R</li>
        <li class="choosecity-nav-item" id="s">S</li>
        <li class="choosecity-nav-item" id="t">T</li>
        <li class="choosecity-nav-item" id="w">W</li>
        <li class="choosecity-nav-item" id="x">X</li>
        <li class="choosecity-nav-item" id="y">Y</li>
        <li class="choosecity-nav-item" id="z">Z</li>
    </ul>
</div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <script src="../public/js/main-067f46ecd7.js"></script>

</body>
</html>